.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 36px;
}

.cards > ul > li {
  border: 6px solid var(--dark-color);
  --dark-color: #000;
  background-color: #985800;
}

.cards .cards-card-body {
  margin: 26px;
  color: #e9ecef;
  font-size: 1.5rem;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  width: 80%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
